extends ../shared/template

block content
  nav
    span.home
      a(href='/') Home
    span.home
      a.active(href='/about') About
    span.home
      a(href='/chimeras') Chimeras
  h1 Chimera Factory
  #text
    p A crud app that uses, Mongo DB, Javascript, Jade, Less, Jquery, ES6.
    p Create, Mix, Match and Delete classic Greek Monsters.
