extends ../shared/template

block content
  nav
    span.home
      a.active(href='/') Home
    span.home
      a(href='/about') About
    span.home
      a(href='/chimeras') Chimeras
  h1 Chimera Factory
